body {
    line-height: 1.5;
}

    /* Bagian Kursi */
    #baris-kursi-kiri {
        margin-top: 20px;
        margin-right: 1rem;
    }

    #baris-kursi-kanan {
        margin-top: 20px;
        margin-left: 1rem;
    }

    .posisi-kursi {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: .75rem;
    }

    .posisi-kursi .kursi {
        display: inline-block;
        width: 2.25rem;
        text-align: center;
        font-size: .75rem;
        font-weight: 600;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: .5rem;
    }

    .posisi-layar {
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #ffffff;
        line-height: 28px;
        margin-top: 80px; 
        margin-bottom: 20px;
        padding: 15px;
        width: 1303px;
        height: 60px;
        left: 0px;
        right: 0px;
        background: #118EEA;
    }

    .tombol-kembali {
        color: #5A637A;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #5A637A;
        border-radius: 5.06667px;
        width: 199px;
        height: 48px;
        padding: 12px 8px;
        margin-right: 100px;
    }
    
    .tombol-konfirmasi {
        background: #1A2C50;
        color: #FFBE00;
        border-radius: 5.06667px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 199px;
        height: 48px;
        margin-left: 100px;
    }

    .font-harga-total {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    
    .font-harga {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }

    .font-kursi {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }

    .font-total-kursi {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }

    .footer-pemisah {
        position: absolute;
        background: #BDC5D5;
        height: 1px;
        left: 0px;
        right: 0px;
    }

    /* Bagian Pembayaran */
    .container-content {
        width: 1500px;
        padding: 0px;
        box-sizing: border-box;
        display: flex;
    }

    .container-detail-jadwal {
        margin-top: 50px;
        padding: 5px;
    }

    .container-detail-jadwal div {
        width: 405px;
    }

    .container-ringkasan-order {
        border: 1px solid #C4C4C4;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
        border-radius: 13px;
        padding: 30px;
        width: 500px;
    }

    .font-judul {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
    }

    .font-tanggal {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
    }

    .font-kelas {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
    }

    .font-jam {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
    }

    .font-tiket {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
    }

    .form-ringkasan-order {
        width: 430px;
        height: 585px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
        border-radius: 13px;
      }

    .font-detail-transaksi {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    .font-promo-voucher {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    .font-total-bayar {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    .font-89k {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }
      
    .font-metode-pembayaran {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }

    .font-lihat-semua {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: #118EEA;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .font-note {
        font-weight: 400;
        font-size: 13.5px;
        line-height: 14px;
        color: #ff2b2b;
    }

    .tombol-beli-tiket {
        margin-left: 10px;
        background: #1A2C50;
        color: #FFBE00;
        border-radius: 5.06667px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 380px;
        height: 60px;

    }

    /* Bagian Login & Sign Up*/
    .main-login {
        
        margin: 30px auto;
        margin-top: 10px;
        margin-left: 5px;
        width: 1500px;
        padding: 0px;
        box-sizing: border-box;
        display: flex;
    }

    .login-kembali {
        width: 405px;
    }

    .main-login div{
        padding: 10px;
    }

    .container-login{
        border: 1px solid #C4C4C4;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
        margin-top: 30px;
        padding-bottom: 0px;
        width: 600px;
        background-color: white;
    }

    .container-login div{
        margin: 50px;
        margin-bottom: 0px;
    }

    .font-no-hp {
        font-weight: 400;
        font-size: 21px;
        line-height: 28px;
        color: #000000;
    }

    .font-62 {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        align-items: center;
        color: #9DA8BE;
        outline: none;
    }

    .font-pw {
        font-weight: 400;
        font-size: 21px;
        line-height: 28px;
        color: #000000;
    }

    .font-input {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        align-items: center;
        color: #9DA8BE;
    }

    .tombol-masuk-sekarang {
        margin-left: 10px;
        background: #1A2C50;
        border-radius: 5.06667px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 380px;
        height: 60px;
    }

    .font-akun-belum {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #5A637A;
    }

    .tombol-daftar-sekarang {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #1A2C50;
        margin-left: 10px;
        background: #FFFFFF;
        border: 1px solid #5A637A;
        border-radius: 5.06667px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 380px;
        height: 60px;
    }

    .font-keterangan {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000;
    }

    .snk {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #5A637A;
    }
